@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zen+Dots&display=swap');

/*global css for custom classes*/

:root{
    --background-color: #578FCA;
    --text-color: #D1F8EF;
    --light-button: #A1E3F9;
    --dark-button: #3674B5;
}

body{
    padding: 0 5rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Inter;
    scroll-behavior: smooth;
}

.btn-light{
    all: unset;
    padding: .5rem 2rem;
    background-color: var(--light-button);
    color: var(--dark-button);
    border-radius: .5rem;
    transition: all .3s ease-in-out;
}

.btn-light:hover{
    color: var(--light-button);
    background-color: var(--dark-button);
    box-shadow: 2px 2px 5px var(--dark-button);
}

.btn-dark{
    all: unset;
    padding: .5rem 2rem;
    background-color: var(--dark-button);
    color: var(--light-button);
    border-radius: .5rem;
    transition: all .3s ease-in-out;
}

.btn-dark:hover{
    color: var(--dark-button);
    background-color: var(--light-button);
    box-shadow: 2px 2px 5px var(--dark-button);
}